# gitignore

*/bin/*
haskell/*.hi
haskell/*.o
_offline
*.dump

# Mac OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
*~
._*
.Spotlight-V100
.Trashes
__MACOSX
Thumbs.db
ehthumbs.db

# Linux OS
.swp.*
*.swp.*
*.swp
